body {
    background: pink;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: hotpink;
    font-style: italic;
    font-family: impact;
    text-align: center;
}

p {
    background: white;
    font-weight: bold;
    padding: 10px;
    border: 5px double hotpink;
    text-shadow: 2px 2px 0px white;
}